.homePage {
    background-image: url('../assets/home/background-home-mobile.jpg');
    color: #fff;
    padding: 0 2rem;
    padding-top: 20%;
    box-sizing: border-box;
    margin-top: -3.8rem;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
}

.textoApresentacao {
    text-align: center;
    margin-top: 10%;
}


.btnExplorar {
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 50%;
    margin: 10% 0 100% 0;
    border: none;
    text-decoration: none;
    color: #120;
}

@media (min-width: 800px) {
    .homePage {
        background-image: url('../assets/home/background-home-tablet.jpg');
        margin-top: -7rem;
    }

    .btnExplorar {
        margin-bottom: 60%;
    }    
}

@media (min-width: 1000px) {
    .homePage {
        background-image: url('../assets/home/background-home-desktop.jpg');
        display: flex;
        justify-content: space-between;
        padding: 13% 5% 0% 5%;
        margin-top: -8rem;
        padding-bottom: 6rem;
    }

    .textoPrincipal {
        font-size: 3rem;
    }

    .textoApresentacao {
        width: 30rem;
        padding-bottom: 5rem;
    }

    .btnExplorar {
        margin-bottom: 20%;

    }
}