.tecnologiaPage {
    background-image: url('../assets/technology/background-technology-mobile.jpg');
    color: #fff;
    padding: 0 2rem;
    padding-top: 5rem;
    box-sizing: border-box;
    margin-top: -3.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
}

.botoesSessao {
    margin: 1rem;
}

button {
    cursor: pointer;
}

.mudaSessaoTech {
    padding: .7rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    margin-left: .5rem;
    font-weight: bold;
    background-color: grey;
}

.sessaoTechAberta {
    background-color: #fff;
}

.textoDescritivo {
    margin-top: 3rem;
}

.fotoDiv img {
    height: 16rem;
    width: 20rem;
}

.textoDiv h3 {
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 400;
}

@media(min-width:640px) {
    .tecnologiaPage {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
        margin-top: -7rem;
        padding-bottom: 6rem;
    }
}

@media(min-width:1000px) {
    .tecnologiaPage {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }

    .mainTecnologia {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 4rem;
        padding-bottom: 7.5rem;
    }

    .tituloTech {
        font-size: 2rem;
    }

    .fotoDiv img {
        height: 21rem;
        width: 27rem;
    }

    .textoDescritivo {
        width: 25rem;
        font-size: 20px;
    }
}